USE [master]
GO

CREATE DATABASE [Dormitory_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dormitory_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Dormitory_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dormitory_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Dormitory_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dormitory_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dormitory_Management]
GO
/****** Object:  Table [dbo].[fees]    Script Date: 2/25/2026 3:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fees](
	[mobileNo] [nvarchar](15) NOT NULL,
	[fmonth] [varchar](60) NOT NULL,
	[amount] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mobileNo] ASC,
	[fmonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 2/25/2026 3:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[roomNo] [bigint] NOT NULL,
	[roomStatus] [varchar](250) NOT NULL,
	[Booked] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2/25/2026 3:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mobile] [nvarchar](15) NOT NULL,
	[name] [varchar](250) NOT NULL,
	[fname] [varchar](250) NOT NULL,
	[mname] [varchar](250) NOT NULL,
	[email] [varchar](250) NOT NULL,
	[paddress] [varchar](250) NOT NULL,
	[idproof] [varchar](250) NOT NULL,
	[roomNo] [bigint] NULL,
	[living] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/25/2026 3:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[fees] ([mobileNo], [fmonth], [amount]) VALUES (N'0392363177', N'August 2025', 100)
INSERT [dbo].[fees] ([mobileNo], [fmonth], [amount]) VALUES (N'0973458322', N'October 2025', 3000000)
GO
INSERT [dbo].[rooms] ([roomNo], [roomStatus], [Booked]) VALUES (1, N'Yes', N'Yes')
INSERT [dbo].[rooms] ([roomNo], [roomStatus], [Booked]) VALUES (2, N'Yes', N'Yes')
INSERT [dbo].[rooms] ([roomNo], [roomStatus], [Booked]) VALUES (3, N'Yes', N'Yes')
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [mobile], [name], [fname], [mname], [email], [paddress], [idproof], [roomNo], [living]) VALUES (3, N'0898989898', N'Pham Xuan Nam', N'Pham Gia Binh', N'Hoang Thi Lan', N'phamxuannam2004@gmail.com', N'Ha Noi', N'012321212112', 1, N'Yes')
INSERT [dbo].[Student] ([id], [mobile], [name], [fname], [mname], [email], [paddress], [idproof], [roomNo], [living]) VALUES (6, N'0333482777', N'Luong Tuan Anh', N'Luong Van Quyen', N'Nguyen Thi Tuoi', N'luongtuananh2004@gmail.com', N'Hung Yen', N'033204007777', 6, N'Yes')
INSERT [dbo].[Student] ([id], [mobile], [name], [fname], [mname], [email], [paddress], [idproof], [roomNo], [living]) VALUES (7, N'0865442769', N'Hoang Van Viet', N'Hoang Van Bao', N'Vu Thi Khuy', N'hoangvanviet280504@gmail.com', N'Hung Yen', N'033320400456', 3, N'Yes')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([UserId], [Username], [Password], [Email]) VALUES (1, N'admin', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'hoangviet280504@gmail.com')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_mobile_fmonth]    Script Date: 2/25/2026 3:25:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_mobile_fmonth] ON [dbo].[fees]
(
	[mobileNo] ASC,
	[fmonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_mobile]    Script Date: 2/25/2026 3:25:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_mobile] ON [dbo].[Student]
(
	[mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__536C85E4CBFABA29]    Script Date: 2/25/2026 3:25:21 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[rooms] ADD  DEFAULT ('No') FOR [Booked]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ('Yes') FOR [living]
GO
ALTER TABLE [dbo].[fees]  WITH CHECK ADD FOREIGN KEY([mobileNo])
REFERENCES [dbo].[Student] ([mobile])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([roomNo])
REFERENCES [dbo].[rooms] ([roomNo])
GO
USE [master]
GO
